.transparent {
    border-width: 0px;
    -webkit-box-shadow: 0px 0px;
    box-shadow: 0px 0px;
    background-color: rgba(0, 0, 0, 0.0);
    background-image: -webkit-gradient(linear, 50.00% 0.00%, 50.00% 100.00%, color-stop( 0%, rgba(0, 0, 0, 0.00)), color-stop( 100%, rgba(0, 0, 0, 0.00)));
    background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.00) 100%);
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.00) 100%);
}

body {
    background-image: url('../images/so_happy-bg.png');
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.nav-link {
    color: black;
}

.btn-row {
    margin-top: 30%;
    text-align: center;
}

#btn-start {
    border: solid 10px #FC5185;
    transition: border 0.6s linear;
}

#btn-start:hover {
    border: 10px;
}
